.env
.env.*
!.env.example

.venv/
venv/

__pycache__/
*.pyc
*.pyo
*.pyd

.pytest_cache/
.mypy_cache/
.ruff_cache/

.idea/
.vscode/
*.iml

*.db
*.sqlite
*.sqlite3
data/*.db
scripts/*.db

*.7z
*.zip
*.rar

logs/
*.log
